%h2= t "devise.invitations.new.header"
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
  = devise_error_messages!
  - resource.class.invite_key_fields.each do |field|
    %p
      = f.label field
      = f.text_field field
  %p
    = f.label "first name"
    = f.text_field :first_name
  %p
    = f.label "last name"
    = f.text_field :last_name
  %p
    = f.label "company id"
    = f.text_field :organization_id, type: 'number'

  %p= f.submit t("devise.invitations.new.submit_button")
